*{
	margin: 0;
	padding: 0;
    list-style: none;
    outline: 0;
}

body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: auto;
}

#netflix-logo{
	height: 45px;
    width: 147px;
    vertical-align: middle;
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    cursor: pointer;
    left: 40px;
    top: 20px;
    position: relative;
    transform: scale(1.1);
}

.icons svg{
	fill: #e50914;
}

#header{
	position: relative;
	display: flex;
	flex: 1;
	z-index: 1000;
}

#background-navigation{
	background-image: url(/app/img/background_anime.jpg);
	width: 100%;
	height: 100%;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    zoom: 1;
    background-size: cover;
}

#background-navigation::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(20%,rgba(0,0,0,.8)),color-stop(85%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
    background-image: -moz-linear-gradient(left,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
    background-image: linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
    zoom: 1;
}

#btn-red{
	color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 18px 3% 0;
    padding: 7px 17px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    float: right;
    position: fixed;
    right: 0;
}

#proxima_hist{
    margin: 0 0 .2em;
    line-height: 1.1em;
    font-weight: 700;
    text-shadow: 1px 1px 10px #000;
    font-size: 3em;
    position: relative;
    z-index: 50;
    width: 600px;
    top: 200px;
    left: 190px;
    transform: scale(1.5);
}

.light{
	color: #fff;
}

#onde_hist{
	margin: 0 0 .2em;
    line-height: 0.8em;
    text-shadow: 1px 1px 10px #000;
    font-size: 1.25em;
    position: relative;
    z-index: 50;
    width: 600px;
    margin: 0;
    top: 240px;
    left: 50px;
    font-weight: normal;
}

#btn-red-free{
	color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 18px 3% 0;
    padding: 12px 24px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    font-size: 14px;
    border: none;
    right: 0;
    position: relative;
    z-index: 50;
    top: 240px;
}

button{
    cursor: pointer;
}

.navigation_options{
    width: 100%;
    position: relative;
    height: 160px;
    background: #151515;
    z-index: 1000;
    top: -50px;
}

.navigation_options li p{
    color: #fff;
    width: 300px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 0px;
}


.navigation_options li{
    width: 300px;
    position: relative;
    margin: 0px auto;
    top: 25px;
    display: inline-block;
    cursor: pointer;
}

.navigation_options li svg{
    height: 49px;
    fill: #fff;
    bottom: 10px;
    position: relative;
}

.center{
    margin: 0 auto;
    padding-top: 20px;
    width: 70%;
}

.block{
    color: #777 !important;
    fill: #777 !important;
}

/*Login*/

.background-login{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(/app/img/login-the-crown_2.jpg);
    background-size: cover;
}

#account-login{
    width: 470px;
    height: auto;
    background: #f3f3f3;
    margin: 0 auto;
    position: relative;
    top: 50px;
    padding-bottom: 145px;
}

#padding-40{
    padding: 40px;
}

#account-login h1{
    font-size: 2em;
    color: #333;
    font-weight: 400;
}

#account-login #form{
    position: relative;
    top: 30px;
}

#account-login #form span{
    padding-bottom: 5px;
}

#account-login #form .novo_aqui{
    position: relative;
    top: 130px;
}

#account-login #form .novo_aqui a{
    text-decoration: none;
    color: #0080ff;
}

#account-login #form #forgot{
    text-decoration: none;
    color: #0080ff;
    position: relative;
    top: 100px;
    font-size: 15px;
}

#account-login #form input{
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #b3b3b3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 500px;
    color: #000;
    padding: 10px 11px;
    height: 44px;
}

#account-login #message{
    width: 95%;
    height: auto;
    background: red;
    color: #fff;
    position: relative;
    bottom: 40px;
    padding: 10px;
    display: none;
}

.btn-red-ast{
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 18px 3% 0;
    padding: 12px 24px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    font-size: 18px;
    border: none;
    right: 0;
    position: relative;
    z-index: 50;
    width: 100%;
    height: 50px;
    top: 100px;
}

/*browse*/

#netflix-logobr{
    height: 45px;
    width: 147px;
    vertical-align: middle;
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    cursor: pointer;
    left: 40px;
    top: 20px;
    position: relative;
    transform: scale(0.7);
}

.quem_assistir{
    width: 90%;
    height: 400px;
    position: relative;
    top: 7vw;
}

.quem_assistir h1{
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 400;
}

.quem_assistir h2{
    text-align: center;
    font-size: 1.3vw;
    color: #666;
}

.quem_assistir li{
    height: 140px;
    width: 140px;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    border: .3em solid #3333335c;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    top: 30px;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    left: -30px;
    color: grey;
}

.quem_assistir li:hover{
    border: .3em solid #fff;
    color: #fff !important;
}

.quem_assistir li p{
    position: relative;
    top: 145px;
    font-size: 1.2em;
}

.quem_assistir .avatar1{
    background-image: url(/app/img/user/user1.png);
}

.quem_assistir .added{
    background-image: url(/app/img/user/plus.png);
    border: .3em solid transparent;
}

.gerenc{
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: .8em 1.8em;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: .9em;
    background: transparent;
    color: grey;
    position: relative;
    top: 3vw;
    margin: 0px auto;
}


.gerenc:hover{
    color: #fff;
    border: 1px solid #fff;
}

/*Criar perfil*/

.quem_assistir input{
    width: 18em;
    height: 2em;
    background: #666;
    border: 1px solid transparent;
    margin: 0 .8em 0 0;
    padding: .2em .6em;
    color: #fff;
    font-size: 1.3vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: .1vw;
    position: relative;
    left: 9vw;
    top: 1vw;
}

.quem_assistir input::placeholder{
    color: #eee;
}

.quem_assistir input:-ms-input-placeholder{
    color: #eee;
}

.quem_assistir input::-ms-input-placeholder{
    color: #eee;
}

.quem_assistir .criar{
    height: 8vw;
    width: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    left: -15vw;
    border: .3em solid transparent;
}

.quem_assistir .criar:hover{
    border: .3em solid transparent;
}

.quem_assistir #message{
    width: 220px;
    height: auto;
    background: red;
    color: #fff;
    position: relative;
    bottom: -70px;
    padding: 10px;
    display: none;
    left: 20px;
}

/*Edit profile*/

.edit{
    background: rgba(0,0,0,.50);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.edit:hover{
    background: rgba(0,0,0,.80);
}

#editprofile{
    fill: #fff;
    width: 55px;
}

/*Dashboard*/

#header-ali{
    width: 100%;
    height: 60px;
    background: transparent;
    position: fixed;
    z-index: 1000000;
    background: rgba(0,0,0,.50);
}

#netflix-logodash{
    height: 45px;
    width: 147px;
    vertical-align: middle;
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    cursor: pointer;
    left: 40px;
    top: 10px;
    position: relative;
    transform: scale(0.7);
}

/*Dashboard*/

.destaque{
    width: 100%;
    height: 600px;
    background-size: cover;
}

.destaque .logo{
    width: 400px;
    height: 100px;
    position: relative;
    top: 200px;
    left: 50px;
    z-index: 1000;
}

.destaque button{
    position: relative;
    top: 230px;
    float: left;
    left: 50px;
    font-size: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: .75em;
    padding: .40em 1.55em;
    color: #fff;
    border: 1px solid rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    z-index: 200;
}

.destaque button i{
    font-size: 20px;
    position: relative;
    top: 2px;
    left: -5px;
}

.destaque button span{
    position: relative;
    top: 0px;
    font-size: 14px;
}

.destaque button:hover{
     background-color: #fff;
     color: #151515;
}

#entry{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 5vw;
    position: relative;
    top: 2vw;
    width: 40vw;
    margin: 0px auto;
}

#header-ali #linksa{
     position: relative;
    color: #e5e5e5;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    -moz-transition: color .4s;
    transition: color .4s;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 50px;
    top: 10px;
    color: #fff;
    font-weight: 700;
    cursor: default;
    font-size: 15px;
    margin-left: 20px;
    text-decoration: none;
}

#header-ali .desative{
    color: #afafaf !important;
    cursor: pointer !important;
}

#header-ali .desative:hover{
    color: #fff !important;
}

#slider h1{
    color: #eee;
    font-size: 1.2em;
    top: 4vw;
    position: relative;
    left: 3vw;
}

#nani{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(20,20,20,0)),color-stop(15%,rgba(20,20,20,.15)),color-stop(29%,rgba(20,20,20,.35)),color-stop(44%,rgba(20,20,20,.58)),color-stop(68%,#141414),to(#141414));
    background-image: -webkit-linear-gradient(top,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    background-image: -moz-linear-gradient(top,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    background-image: -o-linear-gradient(top,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: 0 top;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 500px;
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0px;
    z-index: 100;
}

#what_is{
    font-size: 2vw;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 15px;
    color: #fff;
}

#oneforall{
    position: relative;
    width: 91%;
    margin: 0px auto;
    top: 80px;
}

#oneforall .label{
    height: 2rem;
    padding-left: 10px;
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: .9rem;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    background-color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    padding-right: 50px;
    position: relative;
    left: 125px;
    bottom: 35px;
    transform: scale(0.9);
    cursor: pointer;
}

#oneforall .label:hover{
    background-color: #252525;
}

.themes{
    width: 345px;
    height: 170px;
    background-color: rgba(0,0,0,.9);
    line-height: 21px;
    border: solid 1px rgba(255,255,255,.15);
    position: absolute;
    left: 130px;
    bottom: -135px;
    display: none;
    transition: 1s;
    z-index: 5000;
}

.themes a{
    color: #fff;
    padding: 1px 20px 1px 10px;
    text-decoration: none;
}

.themes li{
    cursor: pointer;
    line-height: 24px;
    display: block;
    display: inline-block;
    width: 170px;
}

.themes ul{
    padding: 5px 0;
    margin: 0;
    left: 0px;
    position: relative;
}

.label:hover + .themes{
    display: block;
}

.themes:hover{
    display: block;
}

.arrow{
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 44%;
    width: 0;
}

#filmes{
    position: relative;
    width: 91%;
    margin: 0px auto;
    top: 120px;
    transition: 1s;
}

#avata_filmes{
    width: 210px;
    height: 125px;
    position: relative;
    transition: 0.9s;
    background: #555;
    float: left;
    margin-left: 10px;
    transition: 1s;
}

#avata_filmes:hover{
    transform: scale(1.4);
    margin-left: 50px;
    margin-right: 50px;
}

#back_filme:hover + #descrt_filme + #play{
    opacity: 1;
}

#avata_filmes img{
    width: 100%;
    height: 100%;
    position: absolute;
}

#back_filme{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
}

#descrt_filme{
    width: 100%;
    height: auto;
    background: rgba(0,0,0,.40);
    position: absolute;
    cursor: pointer;
    bottom: 0;
    opacity: 1;
    transition: 1s;
    color: #fff;
}

#play{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

#play button{
    position: relative;
    top: 35px;
    left: 39%;
    background: rgba(0,0,0,.50);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
}

#play i{
    color: #fff;
    font-size: 23px;
}

#title{
    width: 100%;
    height: 500px;
    background: #000;
    top: 60px;
    position: relative;
}

.info_left{
    width: 48%;
    float: left;
    left: 50px;
    position: relative;
    z-index: 1000;
    height: 100%;
}

.info_left h1{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #fff
}

.info_left span{
    color: #fff;
    font-weight: 700;
}

.info_left #synopse{
    color: #999;
    font-size: 1.2em;
}

.info_left::before{
    content: '';
    position: absolute;
    z-index: 10;
    background-image: -webkit-gradient(linear,left top,right top,from(#000),to(transparent));
    background-image: -webkit-linear-gradient(left,#000,transparent);
    background-image: -moz-linear-gradient(left,#000,transparent);
    background-image: -o-linear-gradient(left,#000,transparent);
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 110%;
    width: 275px;
}

.info_right{
    width: 40%;
    position: relative;
    float: right;
    right: 0;
    background: #fff;
    height: 100%;
}

.info_right img{
    width: 100%;
    height: 100%;
}

#title button{
    position: relative;
    top: 4px;
    float: left;
    left: 0px;
    font-size: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: .75em;
    padding: .65em 1.55em;
    color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background-image: none;
    background-color: #e50914;
    border-color: #ff0a16;
    border: none;
    z-index: 200;
}

#watch{
    position: relative;
    top: 60px;
}

#watch .video-js{
    width: 100%;
    position: relative;
    height: 500px;
}

.video-js .vjs-big-play-button{
    position: relative;
    left: 45% !important;
    top: 40% !important;
}

.bottom_lol{
    width: 100%;
    bottom: 0;
    height: 40px;
    background: rgba(0,0,0,.50);
    z-index: 1000;
    position: absolute;
    z-index: 6000;
}

.bottom_lol .ativo{
    border-bottom: 3px solid #e50914;
}

.bottom_lol a{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 15px;
    margin-left: 10px;
}

.bottom_lol a:hover{
    border-bottom: 3px solid #e50914;
}

.vjs-control-bar{
    width: 100% !important;
    height: 30px !important;
    background: #141414 !important;
    position: relative;
    margin: 0px auto;
}

#infowatch{
width: 100%;
height: 200px;
background: #151515;
position: relative;
top: 0px;
}

#infowatch span{
    color: #fff;
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 23px;
}

.video-js .vjs-big-play-button{
    background: rgba(0,0,0,.50) !important;
    border: 1px solid transparent !important;
    border-radius: 20px !important;
}

#episodios{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,.90);
    z-index: 3000;
    display: none;
}

#semelhantes2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,.90);
    z-index: 3000;
    display: none;
    top: 0;
}

#scroll{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#scroll h1{
    color: #fff;
    position: relative;
    padding: 20px 20px;
}

#scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

#serie_ep{
    width: 150px;
    height: 120px;
    background: #555;
    position: relative;
    left: 20px;
    display: inline-block;
    transition: 1s;
}

#serie_ep:hover{
    transform: scale(1.1);
    margin-left: 5px;
    margin-right: 5px;
}

#serie_ep #info{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,.50);
    width: 100%;
}

#serie_ep #back_filme:hover + #play{
    opacity: 1;
}

#serie_ep #play{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

#serie_ep #play button{
    position: relative;
    top: 32px;
    left: 32%;
    background: rgba(0,0,0,.50);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
}

#serie_ep #play i{
    color: #fff;
    font-size: 23px;
}

#img_ep{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#imgeps2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}